body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-top: 90px;
}

.dark-mode {
  color: whitesmoke;
  background-color: #2C3E50;
}

label {
  float: left
}

.light-mode {
  color: black;
  background-color: whitesmoke
}


a:hover{
  color: goldenrod;
  text-decoration: none;
}
  
.card-body {
  height: auto;
  overflow: hidden;
}

h4:hover {
  text-decoration: blue
}

@media screen and (max-width: 500px){
  .display-3{
    font-size: 3em
  }
}
