body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-top: 90px;
}

label {
  float: left
}



/* darn mode theme start*/
.dark-mode {
  color: whitesmoke;
  background-color: #2C3E50;
}

.btn-dark-mode{
  color: navy;
  background-color: whitesmoke;
}

.jumbotron-dark {
  background-color: #43576b;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}



/*light mode theme start */
.btn-light-mode{
  color: whitesmoke;
  background-color: navy;
}

.light-mode {
  color: black;
  background-color: whitesmoke
}



/** end modes attributes for colors**/
a:hover{
  color: goldenrod;
  text-decoration: none;
}
  
.card-body {
  height: auto;
  overflow: hidden;
}

h4:hover {
  text-decoration: blue
}

@media screen and (max-width: 500px){
  .display-3{
    font-size: 3em
  }
  .jumbotron-dark {
    padding: 4rem 2rem;
  }
}
